@use "variables"
@use "mixins"

span
  color: variables.$light
  background: variables.$gray
  padding: 8px 16px
  border-radius: 4px
  @include mixins.itemsCenter
  justify-content: space-between
  gap: .5rem
  font-weight: 600
