@use "variables"
@use "mixins"

.section-techs
    @include mixins.center
    flex-direction: column

    &:hover
        .title
            label
                h2
                   color: #5eff00
                   transition: .2s ease

    .title
        width: 100%
        @include mixins.center

        input
            display: none

        &:has(input[type='checkbox'])
            .arrow-up
                display: none

            & ~ .tech-group
                height: 0
                overflow: hidden
                padding: 0
                display: grid
                grid-template-columns: repeat(4, 1fr)
                grid-template-rows: 1fr 1fr
                gap: 8px
                transition: height 200ms ease

                @media (max-width: 540px)
                    grid-template-columns: repeat(2, 1fr)
                    overflow-y: auto

                @media (max-width: 320px)
                    grid-template-columns: repeat(1, 1fr)


        &:has(input[type='checkbox']:checked)
            .arrow-down
                display: none

            .arrow-up
                display: block

            & ~ .tech-group
                height: 150px
                padding: 16px 0

                @media (max-width: 540px)
                    height: 300px

        label
            width: 100%
            @include mixins.center
            justify-content: space-between
            padding: 0
            cursor: pointer

            h2
                @include mixins.subtitle
                margin-top: 0